.helpinglist {
    min-width: 300px;
    /* height: calc(100% - 300px); */
    border: 1px solid rgb(60, 58, 58);
    position: absolute;
    right: 50%;
    left: 400px;
    height: 400px;
    top: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    z-index: 1000;
    background-color: #29292b;
    cursor: pointer;
    color: whitesmoke;
    display: none;
    bottom: 0px;

}



.helpinglist span {
    padding: 7px;
    /* border: 1px solid rgba(95, 95, 93, 0.299); */
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.3rem;




}

.helpinglist span:nth-child(1) {
    background-color: rgb(34, 88, 197);

}

.helpinglist span:hover {
    background-color: rgb(34, 88, 197);

}

.helpinglist::-webkit-scrollbar {
    width: 8px;
}

.helpinglist::-webkit-scrollbar-thumb {
    background-color: rgb(34, 88, 197);

}

.MsactiveCssList {
    display: flex;
    z-index: 6666666;
}

.divvvvv {
    /* border: 3px solid red; */
    position: absolute;
    z-index: 10;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    top: -12px;
    /* display: flex; */
    /* flex-direction: column; */


}


.overline {
    /* border-bottom: 1px solid rgba(64, 63, 63, 0.221); */
    height: 24px;

}


.activeLine {
    border-top: 2px solid rgba(129, 127, 127, 0.167);
    border-bottom: 2px solid rgba(129, 127, 127, 0.155);
    z-index: 8;
    /* background-color: rgb(27, 26, 26); */

}

.divvvvv::-webkit-scrollbar {
    width: 0;
}